<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.skeleten80.carlogger</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/python3</string>
        <string>-m</string>
        <string>carlogger.logger</string>
        <string>--config</string>
        <string>/Users/mathias/car-logger/config.local.toml</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/mathias/car-logger</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/mathias/car-logger-data/logger.out.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/mathias/car-logger-data/logger.err.log</string>
</dict>
</plist>
